body {
  margin-inline: auto;
  padding: 0px;
  background-attachment: fixed;
  background-position: center;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: repeat(auto);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://plus.unsplash.com/premium_photo-1661962952618-031d218dd040?q=80&w=3777&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
h2 {
  position: absolute;
  left: 54px;
  top: 0px;
  color: #fff;
  font-size: 36px;
  letter-spacing: 4px;
  animation-name: Pop;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 2;
}
h2:hover {
  text-shadow: 5px 0px 5px orangered, -5px -0px 5px orange;
}
#Welcome_tag{
	color: #ffffff;
	position: absolute;
	letter-spacing: 10px;
	top: 0px;
	left: 900px;
}
#Welcome_tag::first-letter {
  color: orange;
}
h4 {
  color: #ffffff;
  position: relative;
  letter-spacing: 10px;
  left: 51px;
  top: 40px;
}
hr {
  margin: 0 55px;
  position: relative;
  top: 110px;
}
#Heading {
  color: #fff;
  font-size: 30px;
  text-shadow: 0 0 15px orange;
  position: absolute;
  left: 300px;
  top: 100px;
  animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Heading::first-letter {
  color: orange;
}
p {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  text-shadow: 0 0 10px orange;
  top: 250px;
  left: 635px;
  background-attachment: fixed;
  animation-name: slideInBottom;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#False_ceiling{
width: 350px;
height: 350px;
position: absolute;
top: 200px;
left: 10px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Ceiling_Fans{
width: 350px;
height: 350px;
position: absolute;
top: 200px;
left: 370px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Flooring{
width: 350px;
height: 350px;
position: absolute;
top: 200px;
left: 730px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Furniture{
width: 350px;
height: 350px;
position: absolute;
top: 200px;
left: 1090px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Chandelier{
width: 350px;
height: 350px;
position: absolute;
top: 200px;
left: 370px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Indoor_Plants{
width: 350px;
height: 350px;
position: absolute;
top: 560px;
left: 600px;
animation-name: slideInTop;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}
#Interior_Design_Options{
overflow: auto;
}
.Image_caption{
color: #fff;
  font-size: 20px;
  text-shadow: 0 0 15px orange;
  position: relative;
  text-align:center;
}
.Image_caption::first-letter {
  color: orange;
}
.Image_caption:hover{
text-decoration: underline;
}
a{
text-decoration: none;
color: #fff;
}
}
@keyframes Pop {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes slideInTop {
  0% {
    transform: scale(0, 0);
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes slideInBottom {
  from {
    transform: translateY(600px);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 769px) {


  .mobile-menu-btn {
  display: none !important;
}
}
@media (max-width: 768px) {

  /* Show the hamburger */
  .mobile-menu-btn {
    display: block;
    position: absolute;
    top: 90px;
    right: 20px;
    font-size: 32px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 2000;
  }

  /* Hide desktop nav by default */
  nav {
    display: none;
    width: 100%;
    background: rgba(0,0,0,0.85);
    padding: 15px 0;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 1500;
  }

  /* When toggled */
  nav.open {
    display: block;
  }
  h4 {
    font-size: 14px;
   
  }

  /* Vertical dropdown */
  .nav-links li {
    display: block !important;
    text-align: center;
    padding: 12px 0;
    bottom: 0 !important;
    left: 0 !important;
  }

  .nav-links a {
    font-size: 18px;
  }

 

 

  /* Prevent nav hover lines breaking mobile layout */
  li:hover {
    border: none !important;
    letter-spacing: 0 !important;
  }
}

